<a href="https://colab.research.google.com/github/Barasinghaa/Deep_learning/blob/main/Input_pipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf

In [2]:
daily_sales_numbers = [21, 22, -108, 31, -1, 32, 34,31]

tf_dataset = tf.data.Dataset.from_tensor_slices(daily_sales_numbers)
tf_dataset

In [3]:
for sales in tf_dataset:
  print(sales)
  print(sales.numpy())

tf.Tensor(21, shape=(), dtype=int32)
21
tf.Tensor(22, shape=(), dtype=int32)
22
tf.Tensor(-108, shape=(), dtype=int32)
-108
tf.Tensor(31, shape=(), dtype=int32)
31
tf.Tensor(-1, shape=(), dtype=int32)
-1
tf.Tensor(32, shape=(), dtype=int32)
32
tf.Tensor(34, shape=(), dtype=int32)
34
tf.Tensor(31, shape=(), dtype=int32)
31

In [4]:
for sales in tf_dataset.as_numpy_iterator():
    print(sales)

21
22
-108
31
-1
32
34
31

In [5]:
for sales in tf_dataset.take(3):
    print(sales.numpy())

21
22
-108

In [6]:
tf_dataset = tf_dataset.filter(lambda x: x>0)
for sales in tf_dataset.as_numpy_iterator():
    print(sales)

21
22
31
32
34
31

In [7]:
tf_dataset = tf_dataset.map(lambda x: x*72)
for sales in tf_dataset.as_numpy_iterator():
    print(sales)

1512
1584
2232
2304
2448
2232

In [8]:
tf_dataset = tf_dataset.shuffle(2)
for sales in tf_dataset.as_numpy_iterator():
    print(sales)

1584
1512
2304
2448
2232
2232

In [9]:
for sales_batch in tf_dataset.batch(2):
    print(sales_batch.numpy())

[1512 1584]
[2232 2304]
[2448 2232]

In [11]:
tf_dataset=tf.data.Dataset.from_tensor_slices(daily_sales_numbers)

tf_dataset=tf_dataset.filter(lambda x:x>0).map(lambda y:y*72).shuffle(2).batch(2)

In [12]:
for sales in tf_dataset.as_numpy_iterator():
  print(sales)

[1584 1512]
[2304 2448]
[2232 2232]